<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheet/style.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liverpool FC Games App</title>
</head>
<body>
    <div class="flex-container">
    <%- include('./partials/_navbar.ejs') %>
    <h1>Liverpool FC Games App</h1>
    <p>Keep up with the Reds as we start the new Premier League season!</p>
    </div>
</body>
</html>
