<!DOCTYPE html>
<html>
<head>
  <title>Edit Match</title>
</head>
<body>
  <h1>Edit Match</h1>
  <form action="/matches/<%= match._id %>/update-score" method="POST">
    <label for="homeScore">Home Score:</label>
    <input type="number" id="homeScore" name="homeScore" value="<%= match.homeScore %>">
    <br>
    <label for="awayScore">Away Score:</label>
    <input type="number" id="awayScore" name="awayScore" value="<%= match.awayScore %>">
    <br>
    <button type="submit">Update Score</button>
  </form>
</body>
</html>